body {
    background-color: grey;
}

.loginDiv {
    margin: 200px auto;
}

#userName {
    height: 30px;
    width: 200px;
    margin-bottom: 50px;
}

#psw {
    height: 30px;
    width: 200px;
    margin-bottom: 60px;
}